{
  "plugins": ["prettier-plugin-astro"],
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 65,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "strict"
}
