---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';

type Post = CollectionEntry<'posts'>;

export async function getStaticPaths() {
  const posts: Post[] = await getCollection('posts'); // Get all posts, without filtering by date here
  return posts.map((post: Post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post: Post = Astro.props; // Get the post from props
const { data, body } = post;
---

<Layout title={data.title}>
  <article class="max-w-2xl mx-auto px-6 py-16">
    <header class="mb-12">
      <div class="flex items-center mb-6">
        <img
          src={data.authorImage}
          alt={`Foto de ${data.author}`}
          class="w-12 h-12 rounded-full mr-4"
          width="48"
          height="48"
        />
      </div>
    </header>
  </article>
</Layout>
