---
import ScheduleDevFest from '@/components/ScheduleDevFest.astro';
import TalksSection from '@/components/TalksSection.astro';
import CollaboratorsSection from '@/components/CollaboratorsSection.astro';
import DetallesEvento from '@/components/DetallesEvento.astro';
import DevelopersSection from '@/components/DevelopersSection.astro';
import HeroSection from '@/components/HeroSection.astro';
import OrganizersSection from '@/components/OrganizersSection.astro';
import Sponsors from '@/components/Sponsors.astro';
import SpeakersSection from '@/components/SpeakersSection.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="GDG Aranjuez | DevFest 2025">
  <main class="max-w-4xl mx-auto px-6 py-2 md:py-2">
    <!-- Hero Section -->
    <HeroSection />

    <!-- Detalles Evento -->
    <DetallesEvento />

    <!-- Organizers Section -->
    <OrganizersSection />

    <!-- Event Schedule -->
    <ScheduleDevFest />

    <!-- Talks Section -->
    <TalksSection />

    <!-- Speakers Section -->
    <SpeakersSection />

    <!-- Collaborators Section -->
    <CollaboratorsSection />

    <!-- Developers Section -->
    <DevelopersSection />

    <!-- Sponsors Section -->
    <Sponsors />
  </main>

  <!-- Blog
  <PostsSection /> -->
</Layout>
