---
import Card from './Card.astro';
import Section from './Section.astro';
import Socials from './Socials.astro';

const colaboradores = [
  {
    name: 'Jorge Castillo',
    role: 'Creator of Effective Android',
    picture: '/colaboradores/jorge-castillo.webp',
    socials: {
      linkedin: 'https://www.linkedin.com/in/jorgecastillopr/',
    },
  },

  {
    name: 'Raúl Fernández',
    role: 'Ilusionista',
    picture: '/colaboradores/elmago.webp',
    socials: {
      instagram:
        'https://www.instagram.com/magicraulin?igsh=MW1nNXJydnU2YjM1ZQ%3D%3D&utm_source=qr',
      website:
        'https://www.atrapalo.com/entradas/contagia-tu-magia_e4920148/',
    },
  },
  {
    name: 'Nicolás Moreno',
    role: 'Audiovisuales y sonido',
    picture: '/colaboradores/nicolas.webp',
    socials: {
      linkedin:
        'https://www.linkedin.com/in/nicolás-moreno-gonzalez/',
    },
  },
  {
    name:'Adrián Sánchez',
    role:'Audiovisuales y sonido',
    picture: '/colaboradores/Adrybeatz_1.webp',
    socials: {
      instagram: 'https://www.instagram.com/adrybeatz/',

    },
  },
  {
    name:'Ana Paredes',
    role:'Presentadora',
    picture: '/colaboradores/AnaParedes.webp',
    socials: {
      instagram: 'https://www.instagram.com/anaparedes__?igsh=MWg1d3dncnhwcjNrZA==',
      website: 'https://starofknowledge.es/',
      
    },
  }
];
---

<Section id="colaboradores" title="Colaboradores">
  {
    colaboradores.map((colab) => (
      <Card
        name={colab.name}
        role={colab.role}
        picture={colab.picture}
        socials={colab.socials}
        variant="slate"
      />
    ))
  }
</Section>
