---
import Card from './Card.astro';
import Section from './Section.astro';
import Socials from './Socials.astro';
import collaborator from '../data/collaborators.json'

---

<Section id="collaborators" title="Collaborators">
  {
    collaborator.length > 0 ? (
      (collaborator as any[]).map((colab) => (
        <Card
          name={colab.name}
          role={colab.role}
          picture={colab.picture}
          socials={colab.socials}
          variant="slate"
        />
      ))
    ) : (
      <p class="text-center dark:text-white py-10">Próximamente anunciaremos a nuestros colaboradores.</p>
    )
  }
</Section>
