<section
  id="comunidad"
  class="bg-indigo-50 dark:bg-indigo-950 rounded-2xl
shadow-md shadow-indigo-200 dark:shadow-indigo-800
  p-8 mb-16"
>
  <div class="grid md:grid-cols-2 gap-8 items-center">
    <div>
      <h2
        class="text-2xl font-bold font-mono text-violet-800 dark:text-indigo-200 mb-4"
      >
        Comunidad vibrante
      </h2>
      <p class="text-gray-700 dark:text-gray-200 mb-6">
        Durante una jornada completa (de 09:00 a 19:00),
        reuniremos a desarrolladores, profesionales y entusiastas
        para sumergirse en aprendizaje práctico, colaboración e
        inspiración.
      </p>
      <ul class="space-y-3">
        <li class="flex items-start">
          <span class="text-violet-800 dark:text-indigo-300 mr-2"
            >✓</span
          >
          <span class="text-gray-700 dark:text-gray-300"
            >Charlas técnicas de primer nivel</span
          >
        </li>
        <li class="flex items-start">
          <span class="text-violet-800 dark:text-indigo-300 mr-2"
            >✓</span
          >
          <span class="text-gray-700 dark:text-gray-300"
            >Talleres prácticos</span
          >
        </li>
        <li class="flex items-start">
          <span class="text-violet-800 dark:text-indigo-300 mr-2"
            >✓</span
          >
          <span class="text-gray-700 dark:text-gray-300"
            >Networking con profesionales</span
          >
        </li>
      </ul>
    </div>

    <div
      class="bg-gray-100 rounded-xl overflow-hidden aspect-video"
    >
      <!-- Placeholder para imagen/video -->
      <div
        class="w-full h-full flex items-center justify-center bg-gradient-to-br from-blue-100 to-purple-100"
      >
        <img
          src="/img/DevFest2024.webp"
          alt="Foto DevFest primera edición 2024"
        />
      </div>
    </div>
  </div>
</section>
