---
import Card from './Card.astro';
import Section from './Section.astro';

const desarrolladores = [
  {
    name: 'Angie M. I. V.',
    picture: '/desarrolladores/AngieMIV.webp',
    socials: {
      linkedin: 'https://www.linkedin.com/in/angiemiv/',
      github: 'https://github.com/AngieMiv',
      instagram: 'https://www.instagram.com/angiemiv/',
    },
  },
  {
    name: 'Belén Suarez',
    picture: '/desarrolladores/BelenSuarez.webp',
    socials: {
      linkedin:
        'https://www.linkedin.com/in/belen-suarez-42a4331b5/',
      github: 'https://github.com/belensuarez477',
    },
  },
  {
    name: 'Glòria Monzó',
    picture: '/desarrolladores/GloriaMonzo.webp',
    socials: {
      linkedin: 'https://www.linkedin.com/in/gloriamonzo240879',
      github: 'https://github.com/Aredhel269',
    },
  },
  {
    name: 'Raúl Gambalonga',
    picture: '/desarrolladores/RaulGambalonga.webp',
    socials: {
      linkedin: 'https://www.linkedin.com/in/raul-gambalonga/',
      github: 'https://github.com/RaulGamBalonga',
    },
  },
  {
    name: 'J. Ramón Carralero',
    picture: '/desarrolladores/JRamonCarralero.webp',
    socials: {
      linkedin:
        'https://www.linkedin.com/in/jos%C3%A9-ram%C3%B3n-carralero-garc%C3%ADa-75381b208/',
      github: 'https://github.com/jramoncarralero',
    },
  },
  {
    name: 'Manuel Tomasino',
    picture: '/desarrolladores/ManuelTomasino.webp',
    socials: {
      linkedin: 'https://www.linkedin.com/in/manuel-tomasino',
      github: 'https://github.com/ShadeVI',
    },
  },
  {
    name: 'Marlon Velásquez',
    picture: '/desarrolladores/MarlonVelasquez.webp',
    socials: {
      linkedin: 'https://www.linkedin.com/in/marlon-velasquez/',
      github: 'https://github.com/sargentogato',
    },
  },
];
---

<Section id="desarrolladores" title="Desarrolladores">
  {
    desarrolladores.map((dev) => (
      <Card
        name={dev.name}
        picture={dev.picture}
        socials={dev.socials}
        variant="purple"
      />
    ))
  }
</Section>
