---
import Socials from './Socials.astro';
---

<footer
  class="flex flex-col items-center justify-center
  bg-white dark:bg-gray-950/40 p-5 text-center text-black dark:text-white"
>
  <div class="mb-3 scale-110">
    <Socials
      nombre="GDG Aranjuez"
      linkedin="https://www.linkedin.com/company/gdg-aranjuez/posts/?feedView=all"
      twitter="https://x.com/GDGAranjuez"
    />
  </div>

  <!-- Call for Papers -->
  <a
    href="https://devfest-2024-aranjuez.vercel.app/"
    target="_blank"
    rel="noopener noreferrer"
    class="mb-3 block text-center"
  >
    Devfest2024
  </a>
  <a
    href="https://sessionize.com/devfest-aranjuez-2025/"
    target="_blank"
    rel="noopener noreferrer"
    class="mb-3 block text-center"
  >
    Call for Papers
  </a>
  <a
    href="https://developers.google.com/events/gdd-europe/code-of-conduct?hl=es-419"
    target="_blank"
    rel="noopener noreferrer"
    class="mb-3 block text-center"
  >
    Código de Conducta
  </a>

  <p class="text-sm text-gray-600 dark:text-gray-200">
    © 2025 Todos los derechos reservados.
  </p>
</footer>
