---
import Card from './Card.astro';
import Section from './Section.astro';
import organizers from '../data/organizers.json';
---

<Section id="organizers" title="Organizers">
  {
    organizers.length > 0 ? (
      (organizers as Organizer[]).map((org) => (
        <Card
          name={org.name}
          role={org.role}
          picture={org.picture}
          socials={org.socials}
          variant="purple"
        />
      ))
    ) : (
      <p class="text-center dark:text-white">Aún no hay organizadores listados.</p>
    )
  }
</Section>
