---
import Card from './Card.astro';
import Section from './Section.astro';

const organizadores = [
  /* Lista de organizadores con name, role, picture, y link a socials */
  {
    name: 'Ángeles Vázquez',
    role: 'Eventbrite',
    picture: '/organizadores/angeles_vazquez_parra.webp',
    socials: {
      twitter: 'https://twitter.com/avazpar',
      linkedin:
        'https://www.linkedin.com/in/angeles-vazquez-parra/',
    },
  },
  {
    name: 'Juanje Cilla',
    role: 'Hiberus',
    picture: '/organizadores/juanje_cilla_ugarte.webp',
    socials: {
      linkedin:
        'https://www.linkedin.com/in/juan-jes%C3%BAs-cilla-ugarte-00a72a107/',
    },
  },
  {
    name: 'Saúl Díaz',
    role: 'Eventbrite',
    picture: '/organizadores/saul_diaz.webp',
    socials: {
      twitter:
        'https://x.com/i/flow/login?redirect_after_login=%2FSefford',
      linkedin: 'https://www.linkedin.com/in/sefford/',
    },
  },
  {
    name: 'Patricia Tarazaga',
    role: 'Eventbrite',
    picture: '/organizadores/patricia_tarazaga.webp',
    socials: {
      linkedin: 'https://www.linkedin.com/in/patricia-tarazaga/',
    },
  },
  {
    name: 'Daniel Brinzei',
    role: 'Zartis',
    picture: '/organizadores/daniel_brinzei.webp',
    socials: {
      linkedin: 'https://www.linkedin.com/in/daniel-brinzei/',
    },
  },
];
---

<Section id="organizadores" title="Organizadores">
  {
    organizadores.map((org) => (
      <Card
        name={org.name}
        role={org.role}
        picture={org.picture}
        socials={org.socials}
        variant="purple"
      />
    ))
  }
</Section>
