---
import Card from './Card.astro';
import Section from './Section.astro';

const ponentes = [
  {
    name: 'Lucía Cordero',
    role: '',
    picture: '/speakers/lucia-cordero.webp',
    socials: {
      twitter: '',
      linkedin:
        'https://www.linkedin.com/in/luciacordero/',
    },
  },
  {
    name: 'Nacho Fernández',
    role: '',
    picture: '/speakers/nacho-fernandez-diez.webp',
    socials: {
      twitter: '',
      linkedin:
        'https://www.linkedin.com/in/nacho-fernandez-diez-94763974',
    },
  },
  {
    name: 'Máximo Fernández',
    role: '',
    picture: '/speakers/maximo-fernandez-nunez.webp',
    socials: {
      twitter: 'https://twitter.com/Maximo_fn',
      linkedin: 'http://linkedin.com/in/MaximoFN/',
      facebook:
        'https://www.facebook.com/profile.php?id=100085177670661',
      instagram: 'https://www.instagram.com/maximo__fn/',
      web: 'https://maximofn.com/blog/',
      huggingface: 'https://huggingface.co/Maximofn',
    },
  },
  {
    name: 'Antonio Leiva',
    role: '',
    picture: '/speakers/antonio-leiva.webp',
    socials: {
      twitter: 'https://x.com/devexpert_io',
      linkedin: 'https://www.linkedin.com/in/antonio-devexpert',
      instagram: 'https://www.instagram.com/devexpert.io/',
      web: 'https://devexpert.io/',
    },
  },
  {
    name: 'Moisés Martínez',
    role: '',
    picture: '/speakers/moises-martinez.webp',
    socials: {
      twitter: 'https://x.com/moisipm?lang=es',
      linkedin: 'https://linkedin.com/in/momartinm/',
    },
  },
  {
    name: 'Sergi Olives',
    role: '',
    picture: '/speakers/sergi-olives.webp',
    socials: {
      twitter: 'https://x.com/SrAceituno',
      linkedin: 'https://linkedin.com/in/sergiolives/',
      instagram: 'https://www.instagram.com/mraceitun0/',
    },
  },
  {
    name: 'Estefanía Peromingo',
    role: '',
    picture: '/speakers/estefania-peromingo.webp',
    socials: {
      twitter: '',
      linkedin:
        'https://www.linkedin.com/in/estefaniaperomingo/',
    },
  },
  {
    name: 'Clara Quince',
    role: '',
    picture: '/speakers/clara-quince.webp',
    socials: {
      twitter: '',
      linkedin:
        ' https://www.linkedin.com/in/clara-g-quince-3b4188245/',
    }
  },
  {
    name: 'Irene Ruiz',
    role: '',
    picture: '/speakers/irene-ruiz-pozo.webp',
    socials: {
      twitter: '',
      linkedin: 'https://linkedin.com/in/ireneruizpozo/',
      instagram: 'https://www.instagram.com/ireneeruizp/',
    },
  },
  {
    name: 'Pablo Rodríguez-Tembleco',
    role: '',
    picture: '/speakers/pablo-rodriguez-tembleco.webp',
    socials: {
      twitter: 'https://x.com/PauThePlayer',
      linkedin:
        'https://www.linkedin.com/in/pablo-rodriguez-tembleco/',
      instagram: 'https://www.instagram.com/pautheplayer/',
      youtube: 'https://www.youtube.com/@PauThePlayer',
    },
  },
  {
    name: 'María del Carmen Tajuelo',
    role: '',
    picture: '/speakers/maria-del-carmen-tajuelo.webp',
    socials: {
      twitter: '',
      linkedin: 'https://www.linkedin.com/in/carmentajuelo/',
    },
  },
];
---

<Section id="ponentes" title="Ponentes">
  {
    ponentes.map((pon) => (
      <Card
        name={pon.name}
        role={pon.role}
        picture={pon.picture}
        socials={pon.socials}
        variant="blue"
      />
    ))
  }
</Section>
