---
import ScheduleSection from "./ScheduleSection.astro";
import scheduleData from "../data/schedule.json";
---

{
  scheduleData.length > 0 ? (
    (scheduleData as ScheduleGroup[]).map((group) => (
      <ScheduleSection {...group} />
    ))
  ) : (
    <p class="text-center dark:text-white py-10">La agenda se publicará próximamente.</p>
  )
}