---
const { id, title } = Astro.props;
---

<section id={id} class="scroll-mt-24 pt-10">
  <h2
    class="text-4xl dark:text-sky-100 font-bold font-mono text-center"
  >
    {title}
  </h2>

  <div class="p-10">
    <div class="flex flex-wrap justify-center gap-8">
      <slot />
    </div>
  </div>
</section>
