---
import Card from './Card.astro';
import Section from './Section.astro';
import speakers from '../data/speakers.json';
---

<Section id="speakers" title="Speakers">
  {
    speakers.map((speaker) => (
      <Card
        name={speaker.name}
        role={speaker.role}
        picture={speaker.picture}
        socials={speaker.socials}
        variant="blue"
      />
    ))
  }
</Section>
