---
import Talks from './Talks.astro';
import Section from './Section.astro';
import talks from '../data/talks.json';
---

<Section id="talks" title="Talks">
  {
    talks.length > 0
      ? (talks as Talk[]).map((talk) => (
          <Talks
            talkTitle={talk.talkTitle}
            description={talk.description}
            speakerName={talk.speakerName}
            variant="blue"
          />
        ))
      : <p class={`text-lg font-semibold text-white`}>No hay charlas disponibles en este momento.</p>
  }
</Section>
