---
// src/layouts/Layout.astro
import '@/styles/global.css';
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar.astro';

const { title = 'GDG Aranjuez ' } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/gdg-favicon.jpg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap');
    </style>
    <script is:inline>
      document.documentElement.classList.toggle(
        'dark',
        localStorage.theme === 'dark' ||
          (!('theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)')
              .matches)
      );
    </script>
  </head>
  <body
    class="bg-gradient-to-r from-sky-50 via-gray-100 to-sky-50 dark:bg-gradient-to-r dark:from-indigo-950 dark:via-gray-900 dark:to-indigo-950
  	min-h-screen font-['Google_Sans']"
  >
    <Navbar />
    <slot />
    <Footer />
    <script type="module" src="/themeToggle.js"></script>
  </body>
</html>
